@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as mixins;

.inboxContainer {
  display: flex;
  gap: 2rem;
  height: calc(100vh - 18rem);

  .messageList {
    width: 30%;
    background-color: $white;
    border: 1px solid $light-grey;
    border-radius: 0.5rem;
    overflow-y: auto;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    flex-shrink: 0;
    min-height: 30rem;
    max-height: 90%;

    .messageCard {
      padding: 1rem;
      border-bottom: 1px solid $light-grey;
      cursor: pointer;
      transition: background-color 0.3s;

      &:hover {
        background-color: $GREY100;
      }

      &.selectedMember {
        background-color: $GREY200;
      }
      &.unread {
        border-left: 4px solid $MAIN900;
      }

      &.read {
        border-left: 4px solid $GREY400;
      }

      .memberName {
        color: $MAIN800;
        font-weight: 500;
        text-align: center;
      }

      .subject {
        color: $medium-grey;
        margin-top: 0.5rem;
      }

      .date {
        font-size: $font-s2;
        color: $GREY500;
        margin-top: 0.5rem;
      }
    }
  }

  .messageViewer {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start; // Default alignment for received messages
    gap: 1rem;
    background-color: $white;
    border: 1px solid $light-grey;
    border-radius: 0.5rem;
    padding: 1rem;
    text-align: right;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    min-height: 30rem;
    max-height: 90%;
    overflow-y: auto;
    direction: rtl;

    // .messageSubject {
    //   color: $dark-grey;
    //   margin-bottom: 1rem;
    // }

    .senderName {
      color: $MAIN800;
      font-weight: 500;
    }

    .messageContent {
      color: $medium-grey;
      margin-bottom: 2rem;
      text-wrap: wrap;
      white-space: pre-wrap;
      word-break: break-all;
    }

    .placeholder {
      font-size: $font-md2;
      color: $GREY500;
    }

    .replyContainer {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      gap: 1rem;
      width: 100%;

      .replyInput {
        height: 8rem;
        resize: none;
        border: 1px solid $light-grey;
        border-radius: 0.5rem;
        padding: 1rem;
        font-size: $font-md;
        color: $dark-grey;
        width: 100%;
      }

      .replyButton {
        background-color: $BLUE500;
        color: $white;
        border: none;
        padding: 0.8rem 1.5rem;
        border-radius: 0.5rem;
        font-size: $font-md;
        display: flex;
        align-items: center;
        gap: 0.5rem;
        width: fit-content;
        transition: background-color 0.2s;

        &:hover {
          background-color: $secondary-color;
        }
      }
    }
  }
}

.messageHeader {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 1rem 1rem;
  background-color: $MAIN900;
  color: $white;
  border-radius: 0.5rem 0.5rem 0 0;
  width: 100%;
}

@media (max-width: $SCREEN_MEDIUM) {
  .inboxContainer {
    flex-direction: column;

    .messageList {
      width: 100%;
      height: 30vh;
    }

    .messageViewer {
      height: calc(70vh - 4rem);
      padding: 1.5rem;
    }
  }
}

@media (max-width: $SCREEN_SMALL) {
  .inboxContainer {
    gap: 1rem;

    .messageList {
      height: 40vh;
    }

    .messageViewer {
      height: calc(60vh - 4rem);
    }
  }

  .messageViewer {
    .messageSubject {
      font-size: $font-lg;
    }

    .messageContent {
      font-size: $font-md;
    }

    .placeholder {
      font-size: $font-md;
    }
  }
}

.sentMessage {
  background-color: $BLUE100;
  max-width: 50%;
  padding: 0.75rem;
  border-radius: 1rem;
  min-width: 30rem;
  color: $MAIN900;
  margin-left: auto;
  text-align: right;
  align-self: flex-end;
}

.receivedMessage {
  background-color: $GREY200;
  max-width: 50%;
  padding: 0.75rem;
  border-radius: 1rem;
  min-width: 30rem;
  color: $dark-grey;
  margin-right: auto;
  text-align: left;
  align-self: flex-start;
}
