@use '../../../styles/mixins' as mixins;
@use '../../../styles/variables' as *;

.userTasksPage {
  direction: rtl;
  width: 100%;
}

.tableContainer {
  min-height: 42rem;
  background-color: #fff;
}
