@use './variables' as *;

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

@mixin flex-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin flex-justify-spaceBetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
  // width: 100%;
}
.flexSpaceBetween {
  @include flex-justify-spaceBetween;
}

@mixin flex-column-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/************************* Shared Table Styles *************************/
/************************* Shared Table Styles *************************/

@mixin shared-table-style {
  overflow-x: auto;
  border-radius: 0.75rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  border: 1px solid $CharcoalGrey;

  table {
    border-collapse: collapse;
    min-width: 60rem;
    width: 100%;
    background-color: #ffffff;
    backdrop-filter: blur(5px);
  }

  th,
  td {
    padding: 1.2rem;
    text-align: right;
    border-bottom: 1px solid $GREY400;
    font-size: $font-md;
  }

  td {
    color: $GREY900;
    font-size: $font-s2;
  }

  .trClickable {
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: $GREY300;
    }
  }

  thead tr th {
    // background-color: $CharcoalGrey;
    // color: $white;
    // font-weight: 500;
  }

  // tbody tr {
  //   &:nth-child(even) {
  //     background-color: $GREY200;
  //   }
  // }

  .tableDownloadButton {
    color: $GREEN600;
    margin: 0 0.3rem;
    padding: 0.5rem;
    border: none;
    border-radius: 0.3rem;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
      background-color: $GREEN100;
    }
  }

  .addButton {
    color: $white;
    margin: 0.5rem 0;
    padding: 0.5rem 2rem;
    border: none;
    border-radius: 0.3rem;
    cursor: pointer;
    transition: all 0.3s ease;
    background-color: $GREEN600;

    &:hover {
      background-color: $GREEN300;
    }

    &.disabled {
      background-color: $GREY400;
      cursor: not-allowed;

      &:hover {
        background-color: $GREY400;
      }
    }
  }

  .updateButton {
    color: $white;
    margin: 0.5rem 0;
    padding: 0.5rem 2rem;
    border: none;
    border-radius: 0.3rem;
    cursor: pointer;
    transition: all 0.3s ease;
    background-color: $BLUE600;

    &:hover {
      background-color: $BLUE300;
    }

    &.disabled {
      background-color: $GREY400;
      cursor: not-allowed;

      &:hover {
        background-color: $GREY400;
      }
    }
  }
}
.tableContainer {
  @include shared-table-style;
}

/************************* Shared Page Header Styles *************************/
/************************* Shared Page Header Styles *************************/

@mixin page-header-container-styles {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffffdf;
  backdrop-filter: blur(5px);
  border: 1px solid $GREY400;
  padding: 1rem;
  border-radius: 0.5rem;
  margin-bottom: 2rem;
  gap: 1rem;

  .backIcon {
    font-size: 2rem;
    color: $MAIN900;
    cursor: pointer;

    &:hover {
      color: darken($MAIN900, 10%);
    }
  }
}
.pageHeader {
  @include page-header-container-styles;
}

/************************* Shared Form Styles *************************/
/************************* Shared Form Styles *************************/

@mixin form-container-styles {
  padding: 2rem;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
    rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
  background-color: $GREY50;

  @media (width <= $SCREEN_SMALL) {
    padding: 1rem;
  }
}
.formContainer {
  @include form-container-styles;
}

@mixin form-page-header-container-styles {
  display: flex;
  justify-content: center;
  padding: 1rem;

  h4 {
    color: $MAIN900;
    font-size: $font-xl;
  }

  .backIcon {
    font-size: 2rem;
    color: $MAIN900;
    cursor: pointer;

    &:hover {
      color: darken($MAIN900, 10%);
    }
  }
}
.formHeader {
  @include form-page-header-container-styles;
}

@mixin form-columns-styles {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;

  .formGroup {
    label {
      display: block;
      color: $dark-grey;
      margin-bottom: 0.5rem;
      font-size: $font-md;
    }
  }

  .formGroupFullWidth {
    grid-column: 1 / -1;
  }
}
.formColumns {
  @include form-columns-styles;
}

@mixin form-save-button-styles {
  position: relative;
  padding: 1rem 2rem;
  border-radius: 0.8rem;
  background-color: $GREEN600;
  color: $white;
  font-size: $font-md;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  transition: background-color 0.3s;

  &.loading {
    background-color: $GREEN300;
    cursor: not-allowed;
    padding: 1rem 2rem;

    &:hover {
      background-color: $GREEN300;
    }
  }

  &:disabled {
    cursor: not-allowed;
  }

  .loader {
    position: absolute;
    width: 1.5rem;
    height: 1.5rem;
    border: 3px solid #ffffff;
    border-top: 3px solid #007ff5;
    border-radius: 50%;
    animation: spin 0.8s linear infinite;
  }

  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  &:hover {
    background-color: darken($GREEN600, 10%);
  }
}

@mixin form-cancel-button-styles {
  position: relative;
  padding: 1rem 2rem;
  border-radius: 0.8rem;
  background-color: $RED500;
  color: $white;
  font-size: $font-md;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  transition: background-color 0.3s;

  &:disabled {
    cursor: not-allowed;
  }

  &:hover {
    background-color: darken($RED500, 10%);
  }
}

@mixin form-buttons-container {
  display: flex;
  gap: 1rem;
  margin-top: 2rem;

  .saveButton {
    @include form-save-button-styles;
  }

  .cancelButton {
    @include form-cancel-button-styles;
  }
}
.formButtonsContainer {
  @include form-buttons-container;
}

/************************* Shared Input Field Styles *************************/
/************************* Shared Input Field Styles *************************/

@mixin input-field-icon-styles {
  position: relative;
  width: fit-content;

  svg {
    position: absolute;
    left: 1rem;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.6rem;
    color: $medium-grey;
  }
}
.searchFilterContainer {
  @include input-field-icon-styles;
}

/************************* Shared Button Styles *************************/
/************************* Shared Button Styles *************************/

@mixin button-styles {
  background-color: $MAIN900;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  color: $white;
  padding: 0.3rem 1rem;
  border-radius: 0.4rem;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: darken($MAIN900, 10%);
  }

  p {
    color: $white;

    @media (width <= $SCREEN_SMALL) {
      font-weight: 500;
    }
  }

  .addIcon,
  .editIcon,
  .deleteIcon {
    font-size: $font-md;
  }
}
.sharedButton {
  @include button-styles;
}

/************************* No Data Styles *************************/
/************************* No Data Styles *************************/

@mixin no-data {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10rem;
  direction: rtl;
}
.noData {
  @include no-data;
}

/************************* Modal Styles *************************/
/************************* Modal Styles *************************/

@mixin modal-styles {
  display: flex;
  justify-content: center;
  align-items: center;

  .modal {
    background-color: $white;
    padding: 2rem;
    border-radius: 0.8rem;
    width: 65rem;
    height: 90vh;
    overflow-y: auto;
    position: relative;
  }
}
.modalContainer {
  @include modal-styles;
}

@mixin delete-modal-styles {
  display: flex;
  justify-content: center;
  align-items: center;

  .modalContent {
    background-color: $GREY100;
    padding: 2rem 2rem 0 2rem;
    border-radius: 8px;
    width: 34rem;
    min-height: 40vh;
    overflow-y: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5rem;
    padding: 2rem;

    .modalHeader {
      display: flex;
      flex-direction: column;
      align-items: center;

      svg {
        color: $RED600;
        width: 10rem;
        height: 10rem;
        margin-bottom: 3rem;
      }

      h3 {
        margin-bottom: 1rem;
      }
    }

    .deleteModalActions {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: 0.5rem;

      .cancelButton,
      .deleteButton {
        padding: 0.65rem 1.25rem;
        font-size: $font-md;
        border-radius: 0.75rem;
      }

      .cancelButton {
        background-color: $GREY500;
        color: $white;
        transition: background-color 0.3s ease;

        &:hover {
          background-color: $GREY300;
        }
      }

      .deleteButton {
        background-color: $RED500;
        color: $white;
        transition: background-color 0.3s ease;

        &:hover {
          background-color: $RED200;
        }
      }
    }
  }
}
.deleteModalContainer {
  @include delete-modal-styles;
}

/************************* Section header title Styles *************************/
/************************* Section header title Styles *************************/

@mixin section-header-title-styles {
  background-color: $GREYBLUE;
  padding: 1rem;
  margin-bottom: 1.5rem;
  border-radius: 0.7rem;
  color: $MAIN900;

  h5 {
    color: $MAIN900;
  }
}
.sectionHeaderTitle {
  @include section-header-title-styles;
}

/************************* Shared Icons Styles *************************/
/************************* Shared Icons Styles *************************/

@mixin editButton {
  color: $BLUE600;
  padding: 0.5rem;
  border: none;
  border-radius: 0.3rem;
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    background-color: $BLUE100;
  }
}
.editButton {
  @include editButton;
}

@mixin deleteButton {
  color: $RED600;
  padding: 0.5rem;
  border: none;
  border-radius: 0.3rem;
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    background-color: $RED50;
  }
}
.deleteButton {
  @include deleteButton;
}

/************************* Shared Pagination Styles *************************/
/************************* Shared Pagination Styles *************************/

@mixin pagination-styles {
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 1.5rem 0;
  width: 100%;

  button {
    background-color: $white;
    border: none;
    border-radius: 0.5rem;
    color: $GREY800;
    padding: 0.5rem 1rem;
    cursor: pointer;
    font-size: 1.4rem;
    transition: background-color 0.3s ease, color 0.3s ease;

    &:hover {
      background-color: $MAIN500;
      color: $white;
    }

    &.activePage {
      background-color: $MAIN900;
      color: $white;
    }
  }
}
.paginationContainer {
  @include pagination-styles;
}
