$primary-color: #007ff5;
$secondary-color: #2263f1;
$light-blue: #007ff567;
$dark-grey: #333333;
$medium-grey: #737373;
$light-grey: #d9d9d9;
$grey: #e3e1e1;
$lighter-grey: #fafafa;
$white: #ffffff;
$red: #ff3939;

$font-family: 'Rubik', sans-serif;

$font-xs: 0.8rem;
$font-s: 1rem;
$font-s2: 1.2rem;
$font-md: 1.4rem;
$font-md2: 1.6rem;
$font-lg: 1.8rem;
$font-lg2: 2rem;
$font-xl: 2.4rem;
$font-xl2: 3.2rem;
$font-xl3: 4.8rem;

$SCREEN_SMALL: 768px;
$SCREEN_MEDIUM: 900px;
$SCREEN_LARGE: 1260px;
$SCREEN_XLARGE: 1536px;

$GREEN600: #1cbf27;
$GREEN500: #38a169;
$GREEN400: #48bb78;
$GREEN300: #68d391;
$GREEN200: #9ae6b4;
$GREEN100: #c6f6d5;
$GREEN50: #f0fff4;

$TEAL500: #319795;
$TEAL400: #38b2ac;
$TEAL300: #4fd1c5;
$TEAL200: #81e6d9;
$TEAL100: #b2f5ea;
$TEAL50: #e6fffa;

$GREY900: #1a1a1a;
$GREY800: #2d3748;
$GREY700: #4a5568;
$GREY600: #718096;
$GREY500: #a0aec0;
$GREY400: #cbd5e0;
$GREY300: #e2e8f0;
$GREY200: #edf2f7;
$GREY100: #f7fafc;
$GREY50: #f8f9fa;

$WHITE: #ffffff;
$RED500: #e53e3e;
$RED400: #f56565;
$RED300: #fc8181;
$RED200: #feb2b2;
$RED100: #fed7d7;
$RED50: #fff5f5;

$BLUE600: #215994;
$BLUE500: #2b6cb0;
$BLUE400: #3182ce;
$BLUE300: #4299e1;
$BLUE200: #63b3ed;
$BLUE100: #bee3f8;
$BLUE50: #ebf8ff;
