@use '../../../styles/mixins' as mixins;
@use '../../../styles/variables' as *;

.userTasksPage {
  direction: rtl;
  width: 100%;
  background-color: $lighter-grey;
}

.filters {
  margin-bottom: 2rem;

  .searchContainer {
    position: relative;
    width: fit-content;

    .searchField {
      padding: 1.2rem;
      border-radius: 0.5rem;
      border: 1px solid $light-grey;
      text-align: right;
      font-size: $font-md;
      color: $dark-grey;
    }

    .searchIcon {
      position: absolute;
      left: 1rem;
      top: 50%;
      transform: translateY(-50%);
      font-size: 1.6rem;
      color: $medium-grey;
    }
  }
}

.sharedTable {
  @include mixins.shared-table-styles('sharedTh', 'sharedTd', 'sharedTrClickable', 'sharedEditButton', 'sharedDeleteButton');
}
