@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as mixins;

.loggerSection {
  background-color: #ffffffdf;
  backdrop-filter: blur(5px);
  padding: 1rem;
  border-radius: 0.8rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px;
  width: 100%;
  overflow-y: auto;

  .header {
    color: $GREY800;
    font-size: $font-lg;
    margin-bottom: 1rem;
    text-align: right;
    border-bottom: 1px solid $GREY300;
    padding-bottom: 0.5rem;
  }
}

.logger {
  max-height: 27rem;
  direction: rtl;

  .logItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.8rem 0;
    border-bottom: 1px solid $GREY300;
    background-color: #fff;
    padding: 1rem;
    margin-bottom: 0.5rem;
    border-radius: 0.75rem;

    &:last-child {
      border-bottom: none;
    }

    .logUser {
      font-size: $font-md2;
      color: $GREY900;
      font-weight: 500;
    }

    .logAction {
      font-size: $font-md;
      color: $GREY700;
    }

    .logTime {
      font-size: $font-md;
      color: $GREY500;
    }
  }
}
