@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as mixins;

.pageHeader {
  @media (width <= $SCREEN_SMALL) {
    flex-direction: column;
  }

  .searchFilterContainer {
    @media (width <= $SCREEN_SMALL) {
      width: 100%;
    }
  }
}

.actionFiltersContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;
  gap: 1rem;
  width: 100%;

  .actionButtonsContainer {
    display: flex;
    gap: 1rem;
    font-size: 1.4rem;

    .actionButton {
      @include mixins.flex-column-center;
      gap: 0.25rem;
      cursor: pointer;

      & > span {
        color: $GREY800;
      }

      & > svg {
        color: $MAIN900;
        font-size: $font-lg;
      }
    }
  }

  .filtersContainer {
    display: flex;
    gap: 1.2rem;
  }
}
