@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as mixins;

textarea {
  width: 100%;
  height: 10rem;
}

.usersModal {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background-color: $GREY100;
  padding: 2rem 2rem 0 2rem;
  border-radius: 8px;
  min-width: 65rem;
  max-width: 120rem;
  height: 90vh;
  overflow-y: auto;
  position: relative;
}

.usersFormButtonsContainer {
  position: sticky;
  bottom: 0;
  background-color: $GREY100;
  padding: 1rem 0;
  justify-content: flex-end;
}

.usersTableHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tableContainer {
  margin-top: 1rem;
}

.usersSaveButton {
  @include mixins.form-save-button-styles;
}

.usersCancelButton {
  @include mixins.form-cancel-button-styles;
}

.emptyTableLabel {
  text-align: center;
  padding: 3rem;
}

.uploadContainer {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-top: 1rem;

  .uploadButton {
    background-color: $BLUE500;
    color: $white;
    padding: 0.8rem 1.5rem;
    font-size: 1.4rem;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: $BLUE300;
    }
  }

  .fileList {
    list-style: none;
    padding: 0;
    margin: 0;

    .fileItem {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0.8rem 1rem;
      border: 1px solid $GREY300;
      border-radius: 5px;
      background-color: $GREY100;
      margin-bottom: 1rem;

      .fileActionsContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
      }

      &:last-child {
        margin-bottom: 0;
      }

      .fileName {
        flex-grow: 1;
        font-size: 1.4rem;
        color: $GREY800;
      }

      .deleteFileButton {
        background-color: $RED500;
        color: $white;
        border: none;
        border-radius: 5px;
        padding: 0.5rem 0.75rem;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: background-color 0.3s ease;

        &:hover {
          background-color: $RED300;
        }

        .deleteIcon {
          font-size: 1.2rem;
        }
      }
    }
  }
}

.permissionsList {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;

  .permissionItem {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 0.5rem;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    color: $GREY800;
    min-width: 10rem;

    input[type='checkbox'] {
      width: fit-content;
    }
  }
}
