@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as mixins;

textarea {
  height: 10rem;
  width: 100%;
}

.invitePeopleGroup {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  .invitePair {
    display: flex;
    align-items: center;
    gap: 1rem;

    select,
    input {
      flex: 1;
    }

    .removeButton {
      background-color: $RED500;
      color: $white;
      border: none;
      padding: 0.5rem 1rem;
      border-radius: 4px;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: darken($RED500, 10%);
      }
    }
  }
}

.usersModal {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background-color: $GREY100;
  padding: 2rem 2rem 0 2rem;
  border-radius: 8px;
  width: 65rem;
  height: 90vh;
  overflow-y: auto;
  position: relative;
}

.usersTableHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tableContainer {
  margin-top: 1rem;
}

.emptyTableLabel {
  text-align: center;
  padding: 3rem;
}

.usersFormButtonsContainer {
  position: sticky;
  bottom: 1rem;
  background-color: $GREY100;
  padding: 1rem 0;
  justify-content: flex-end;
}

.usersSaveButton {
  @include mixins.form-save-button-styles;
}

.usersCancelButton {
  @include mixins.form-cancel-button-styles;
}
