@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as mixins;

.createMeeting {
  background-color: #ffffff;
  backdrop-filter: blur(5px);
  border-radius: 1rem;
  padding-top: 2rem;
}

textarea {
  height: 10rem;
  width: 100%;
}

.invitePeopleGroup {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  .invitePair {
    display: flex;
    align-items: center;
    gap: 1rem;

    select,
    input {
      flex: 1;
    }

    .removeButton {
      background-color: $RED500;
      color: $white;
      border: none;
      padding: 0.5rem 1rem;
      border-radius: 4px;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: darken($RED500, 10%);
      }
    }
  }
}

.usersModal {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background-color: $GREY100;
  padding: 2rem 2rem 0 2rem;
  border-radius: 8px;
  width: 65rem;
  height: 90vh;
  overflow-y: auto;
  position: relative;
}

.usersTableHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tableContainer {
  margin-top: 1rem;
}

.emptyTableLabel {
  text-align: center;
  padding: 3rem;
}

.usersFormButtonsContainer {
  position: sticky;
  bottom: 1rem;
  background-color: $GREY100;
  padding: 1rem 0;
  justify-content: flex-end;
}

.usersSaveButton {
  @include mixins.form-save-button-styles;
}

.usersCancelButton {
  @include mixins.form-cancel-button-styles;
}

/*********************************************************************/

.agendaHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.emptyState {
  text-align: center;
}

.agendaContainer {
  background-color: #f9f9f9;
  padding: 1rem;
  border-radius: 0.75rem;
  border: 1px solid $GREY400;
  min-height: 10rem;

  .agendaItem:last-child {
    margin-bottom: 0;
  }

  .agendaItem {
    display: flex;
    align-items: center;
    gap: 1rem;
    border-radius: 5px;
    margin-bottom: 1rem;

    .agendaInput {
      flex-grow: 1;
      padding: 0.8rem;
      font-size: 1.4rem;
      border-radius: 5px;
    }

    .removeAgendaButton {
      display: flex;
      align-items: center;
      background-color: $RED600;
      color: #ffffff;
      border: none;
      border-radius: 5px;
      padding: 0.7rem;
      transition: background-color 0.3s;

      &:hover {
        background-color: $RED300;
      }

      .icon {
        margin-left: 0.5rem;
        font-size: 1.2rem;
      }
    }
  }
}
