@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as mixins;

.headerTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  .exportButton {
    font-size: $font-lg2;
    padding: 0;

    &:hover {
      background-color: unset;
    }
  }
}

.headerActions {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  .deleteButton {
    background-color: $RED500;
    color: $white;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;

    &:hover {
      background-color: $RED400;
    }
  }

  .editButton {
    background-color: $BLUE500;
    color: $white;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;

    &:hover {
      background-color: $BLUE400;
    }
  }
}

.sectionsContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  margin-bottom: 2.5rem;
  direction: rtl;

  @media (width <= $SCREEN_LARGE) {
    grid-template-columns: 1fr 1fr;
  }

  @media (width <= $SCREEN_MEDIUM) {
    grid-template-columns: 1fr;
  }

  .widgetHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
    direction: rtl;

    h5 {
      color: $MAIN900;
    }
    .button {
      @include mixins.button-styles;
      cursor: pointer;
    }
  }

  .info,
  .attendees,
  .files {
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
      rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
    background-color: #ffffffdf;
    backdrop-filter: blur(5px);

    li {
      font-size: $font-md2;
      color: $dark-grey;
      display: flex;
      align-items: center;
      gap: 1rem;
      margin-bottom: 1rem;

      svg {
        font-size: $font-lg;
        color: $MAIN900;
      }
    }

    li:last-child {
      margin-bottom: 0;
    }
  }

  .files {
    height: 23.5rem;
    overflow-y: auto;
    overflow-x: hidden;

    @media (width <= $SCREEN_LARGE) {
      grid-column: span 2;
    }

    @media (width <= $SCREEN_MEDIUM) {
      grid-column: span 1;
    }
  }

  .fileItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;

    .downloadButton {
      color: $GREEN600;
      cursor: pointer;
      margin-left: 0.25rem;
      transition: all 0.1s ease;

      &:hover {
        color: $GREEN300;
      }
    }
  }

  .widgetItem {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1.4rem;
    color: $dark-grey;
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    background-color: $white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    transition: background-color 0.3s ease;
    min-height: 4.5rem;

    &:hover {
      background-color: $light-grey;
    }

    .profileIcon {
      background-color: $MAIN900;
      color: $white;
      width: 3rem;
      height: 3rem;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1.4rem;
    }

    .itemDetails {
      display: flex;
      flex-direction: column;

      .itemName {
        font-weight: bold;
      }

      .itemRole {
        color: $GREY600;
      }
    }
  }
}

.sectionsContainer2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  margin-bottom: 2.5rem;
  direction: rtl;

  @media (width <= $SCREEN_LARGE) {
    grid-template-columns: 1fr 1fr;
  }

  @media (width <= $SCREEN_MEDIUM) {
    grid-template-columns: 1fr;
  }

  .widgetHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
    direction: rtl;

    h5 {
      color: $MAIN900;
    }
    .button {
      @include mixins.button-styles;
      cursor: pointer;
    }
  }

  .widgetItem {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1.4rem;
    color: $dark-grey;
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    background-color: $white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    transition: background-color 0.3s ease;
    min-height: 4.5rem;

    &:hover {
      background-color: $light-grey;
    }

    .itemDetails {
      display: flex;
      flex-direction: column;

      .itemName {
        font-weight: bold;
      }

      .itemRole {
        color: $GREY600;
      }
    }
  }

  .tasks {
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
      rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
    background-color: #ffffffdf;
    backdrop-filter: blur(5px);

    @media (width <= $SCREEN_LARGE) {
      grid-column: span 2;
    }

    @media (width <= $SCREEN_MEDIUM) {
      grid-column: span 1;
    }

    .tableContainer {
      table {
        min-width: unset;
      }
    }

    .tasksHeader {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 1.5rem;
      border-bottom: 2px solid $light-grey;
      padding-bottom: 1rem;
    }
  }
}

.section {
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
    rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
  background-color: #ffffffdf;
  backdrop-filter: blur(5px);
  min-height: 20rem;

  h5 {
    margin-bottom: 1.5rem;
    border-bottom: 2px solid $light-grey;
    padding-bottom: 1rem;
  }
}

.tasksTable,
.agendaList {
  height: 16rem;
  overflow-y: auto;
  overflow-x: hidden;
}

.agendaList {
  li {
    list-style: decimal;
    background-color: $white;
    padding: 0.25rem 0.75rem;
    border-radius: 0.8rem;
    margin-bottom: 1rem;
    font-size: $font-md;
    margin-right: 2rem;
  }
}

.attendees {
  flex: 1 1 calc(50% - 1rem);
  background-color: $white;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
    rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;

  .attendeesList {
    max-height: 15rem;
    overflow-y: auto;

    .attendeeItem {
      display: flex;
      align-items: center;
      gap: 1rem;
      padding: 0.5rem 0;
      border-bottom: 1px solid $light-grey;

      &:last-child {
        border-bottom: none;
      }
    }
  }
}

.modalContainer {
  .modal {
    height: fit-content;
    max-width: 50rem;
    h4 {
      margin-bottom: 1.5rem;
    }

    label {
      display: block;
      margin-bottom: 1rem;

      select,
      input {
        margin-top: 0.75rem;
      }
    }
  }
}

.numberOfItems {
  font-size: $font-s2;
  color: $MAIN900;
}

@media (width <= $SCREEN_SMALL) {
  .header {
    h1 {
      font-size: $font-xl;
    }

    p {
      font-size: $font-s2;
    }
  }

  .sectionsContainer {
    flex-direction: column;

    .info,
    .attendees {
      padding: 1.5rem;
    }
  }

  .section {
    padding: 1.5rem;
  }
}
